@use "variables";

.catalogue {
  &-item {
    border-bottom: 1px solid variables.$grey-2;
    color: variables.$default-color;
    display: inline-block;
    padding: 2rem 0;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    color: variables.$default-tint;
    font-family: variables.$sans-serif;
    letter-spacing: .5px;
  }

  &-title {
    color: variables.$default-shade;
    display: block;
    font-family: variables.$sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    margin: .5rem 0;
  }

  &-line {
    @include variables.transition(all .3s ease-out);
    border-top: .15rem solid variables.$default-shade;
    display: block;
    width: 3rem;
  }
}
